//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 13 11:07:58 2018
//! **************************************************************************

SCHEMATIC START;
COMP "LED0" LOCATE = SITE "AC22" LEVEL 1;
COMP "LED1" LOCATE = SITE "AC24" LEVEL 1;
COMP "LED2" LOCATE = SITE "AE22" LEVEL 1;
COMP "LED3" LOCATE = SITE "AE23" LEVEL 1;
COMP "LED4" LOCATE = SITE "AB23" LEVEL 1;
COMP "LED5" LOCATE = SITE "AG23" LEVEL 1;
COMP "LED6" LOCATE = SITE "AE24" LEVEL 1;
COMP "LED7" LOCATE = SITE "AD24" LEVEL 1;
COMP "KEY0" LOCATE = SITE "D22" LEVEL 1;
COMP "KEY1" LOCATE = SITE "C22" LEVEL 1;
COMP "KEY2" LOCATE = SITE "L21" LEVEL 1;
COMP "KEY3" LOCATE = SITE "L20" LEVEL 1;
COMP "KEY4" LOCATE = SITE "C18" LEVEL 1;
COMP "KEY5" LOCATE = SITE "B18" LEVEL 1;
COMP "KEY6" LOCATE = SITE "K22" LEVEL 1;
COMP "KEY7" LOCATE = SITE "K21" LEVEL 1;
SCHEMATIC END;

