
# PlanAhead Generated physical constraints 

NET "KEY0" LOC = D22;
NET "KEY1" LOC = C22;
NET "KEY2" LOC = L21;
NET "KEY3" LOC = L20;
NET "KEY4" LOC = C18;
NET "KEY5" LOC = B18;
NET "KEY6" LOC = K22;
NET "KEY7" LOC = K21;
NET "LED0" LOC = AC22;
NET "LED1" LOC = AC24;
NET "LED2" LOC = AE22;
NET "LED3" LOC = AE23;
NET "LED4" LOC = AB23;
NET "LED5" LOC = AG23;
NET "LED6" LOC = AE24;
NET "LED7" LOC = AD24;
